.additionally {
  display: flex;
  flex-direction: column;
  margin: 23px 0 0 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 1220px;
    margin: 0 auto;
  }
}

.additionally__list {
  display: flex;
  flex-direction: column;
  margin: 34px 0 0 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 57px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.additionally__item {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    width: 44%;
    margin: 0 0 56px 0;
  }

  @media (min-width: $desktop-width) {
    width: 221px;
    margin: 0 0 61px 0;
  }
}

.additionally__title {
  color: $black;
  font-size: 24px;
  line-height: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.additionally__indication {
  color: $black;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.additionally__button {
  margin: 34px 0 21px 0;
  padding: 7px 44px;
  color: $white;
  background-color: $green;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 11px 64px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 216px;
  }
}

.additionally__legend {
  text-align: center;
  color: $black;
  font-size: 14px;
  line-height: 1px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin: 0 0 32px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 61px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 81px;
  }
}

.additionally__wrapper-content {
  display: flex;
  flex-direction: column;
}

.additionally__wrapper-foter {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 72px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}
