.additional-products {
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: -100px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 49px 0 0 0;
  }
}

.additional-products__title {
  position: relative;
  color: $black;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  padding: 0 0 0 20px;
  margin: 25px 0 35px 0;
  width: 247px;
  background-color: $white;
  z-index: 2;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 0 37px;
    width: 374px;
    background-color: $white;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 0 40px;
    margin: 25px 0 0 -40px;
    width: 373px;
    background-color: $white;
    z-index: 2;
  }
}

.additional-products__title-wrapper {
  position: relative;
  padding: 0;
  border-top: 1px solid $grey-catalog-border;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 40px;
    height: 2px;
    width: 100%;
    background: $green;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    border-top: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 48px;
      height: 2px;
      width: 100%;
      background: $green;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    border-top: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 48px;
      height: 2px;
      width: 100%;
      background: $green;
    }
  }
}

.additional-products__title-wrap {
  width: 280px;
  padding: 0 40px 0 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px 0 30px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px 0 110px;
    margin: 0 auto 80px auto;
  }
}

.additional-products__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    gap: 3px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    gap: 0;
  }
}

.additional-products__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $grey-border;
  width: 280px;
  margin: 0 auto;

  &:first-child {
    border-top: 1px solid $grey-border;
  }

  @media (min-width: $tablet-width) {
    border-top: 1px solid $grey-border;
    border-left: 1px solid $grey-border;
    border-right: 1px solid $grey-border;
    border-bottom: none;
    padding: 0;
    width: 706px;

    &:last-child {
      border-bottom: 1px solid $grey-border;
    }
  }

  @media (min-width: $desktop-width) {
    border-top: 1px solid $grey-border;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 16px 0 15px 0;
    flex-direction: row;
    justify-content: space-between;
    min-width: 897px;

    &:last-child {
      border-bottom: 1px solid $grey-border;
      padding: 16px 0 15px 0;
    }
  }
}

.additional-products__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin: 46px auto 76px auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto 86px auto;
    padding: 0 110px;
  }
}
