.cat-information__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cat-information {
  list-style: none;
  margin: 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.cat-information__title {
  text-align: left;
  color: $black;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 39px 0;
  padding: 0;
}

.cat-information__indication {
  color: $special-grey;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.cat-information__entry {
  color: $special-grey;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  outline: 0;
  border: 1px solid $grey-border-light;
}

.cat-information__entry::placeholder {
  color: $special-grey;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.cat-information__entry--name {
  padding: 12px 76px 13px 14px;
  margin-left: 7px;
}

.cat-information__entry--weight {
  padding: 12px 52px 13px 13px;
  margin-left: 10px;
}

.cat-information__entry--age {
  padding: 14px 108px 14px 12px;
  margin-left: 9px;
  width: 50px;
}

.cat-information__item {
  margin-bottom: 23px;
}

.cat-information__item:not(:last-child) {
  margin-bottom: 14px;
}
