.cat-information__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cat-information {
  list-style: none;
  margin: 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 570px;
    margin: 0;
  }
}

.cat-information__title {
  text-align: left;
  color: $black;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 39px 0;
  padding: 0;
  width: 226px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 60px 0;
    width: 323px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 66px 0;
    width: 323px;
  }
}

.cat-information__indication {
  color: $special-grey;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }
}

.cat-information__entry {
  color: $special-grey;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  outline: 0;
  border: 1px solid $grey-border-light;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    font-size: 20px;
    line-height: 30px;
  }
}

.cat-information__entry::placeholder {
  color: $special-grey;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }
}

.cat-information__entry--name {
  padding: 12px 0 13px 14px;
  margin-left: 7px;
  width: 77%;

  @media (min-width: $tablet-width) {
    padding: 9px 0 11px 14px;
    margin-left: 7px;
    width: 88%;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 10px 19px;
    font-size: 20px;
    line-height: 30px;
    margin-left: 13px;
    width: 85%;
  }
}

.cat-information__entry--weight {
  padding: 12px 0 13px 13px;
  margin-left: 10px;
  width: 68%;

  @media (min-width: $tablet-width) {
    padding: 9px 4px 11px 14px;
    margin-left: 7px;
    width: 83%;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 1px 10px 19px;
    font-size: 20px;
    line-height: 30px;
    width: 81%;
  }
}

.cat-information__entry--age {
  padding: 14px 0 14px 12px;
  margin-left: 9px;
  width: 57%;

  @media (min-width: $tablet-width) {
    padding: 9px 6px 11px 14px;
    margin-left: 7px;
    width: 76%;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 5px 10px 19px;
    font-size: 20px;
    line-height: 30px;
    width: 73%;
  }
}

.cat-information__item:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}
