.catalog {
  background-color: $white;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 164px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto 0 auto;
    padding: 0 110px;
  }
}

.catalog__item {
  padding: 0;
  margin: 0 0 47px 0;
  height: 161px;
  border-top: 1px solid $grey-catalog-border;

  &:last-child {
    text-align: center;
    margin: 0 0 29px 0;
    padding: 0 0 1px 0;

    @media (min-width: $tablet-width) {
      border-top: none;
      border-bottom: none;
      width: 324px;
      height: 430px;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      background-color: $white;
    }
  }

  @media (min-width: $tablet-width) {
    border-top: none;
    width: 324px;
    height: 430px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: $grey;
    margin: 0 0 141px 0;

    &:last-child {
      border: 2px solid $grey;
      box-sizing: border-box;
      text-align: center;
    }
  }

  @media (min-width: $desktop-width) {
    border-top: none;
    width: 245px;
    height: 431px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: $grey;
    margin: 63px 0 0 0;

    &:last-child {
      width: 20%;
      min-height: 431px;
      border: 2px solid $grey;
      box-sizing: border-box;
      text-align: center;
      margin: 64px 0 0 0;
    }
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    gap: 80px;
    width: 1220px;
    margin: 102px 0 0 0;
  }
}
