.contacts-form {
  margin: 26px 0 0 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts-form__item {
    width: 570px;
  }
}

.contacts-form__items {
  display: flex;
  flex-direction: column;
  margin: 36px auto 24px auto;
  padding: 0 20px;
  list-style: none;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin: 76px auto 24px auto;
    padding: 0 66px;
    width: 635px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 76px auto 69px auto;
    width: 1220px;
    padding: 0 110px;
  }
}

.contacts-form__title {
  position: relative;
  color: $black-light;
  font-size: 24px;
  line-height: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  width: 187px;
  background-color: $white;
  z-index: 2;
  margin: 0;
  padding: 0 30px 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 512px;
    background-color: $white;
    z-index: 2;
    padding: 0 0 0 22px;
    margin: 0 0 0 57px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    width: 512px;
    background-color: $white;
    z-index: 2;
    padding: 0 0 0 22px;
    margin: 0 0 0 57px;
  }
}

.contacts-form__title-wrapper {
  position: relative;
  padding: 0;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 16px;
    height: 2px;
    width: 100%;
    background: $green;
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 21px;
      height: 2px;
      width: 100%;
      background: $green;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 25px;
      height: 2px;
      width: 100%;
      background: $green;
    }
  }
}

.contacts-form__indication {
  color: $special-grey;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts-form__entry {
  color: $special-grey;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  outline: 0;
  border: 1px solid $grey-border-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts-form__entry::placeholder {
  color: $special-grey;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts-form__entry--email {
  margin-left: 4px;
  padding: 12px 0 13px 15px;
  width: 73%;

  @media (min-width: $tablet-width) {
    margin-left: 4px;
    padding: 9px 6px 11px 15px;
    width: 85%;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
    padding: 9px 6px 11px 19px;
    width: 80%;
  }
}

.contacts-form__entry--phone {
  margin-left: 3px;
  padding: 12px 0 13px 15px;
  width: 67%;

  @media (min-width: $tablet-width) {
    margin-left: 4px;
    padding: 9px 10px 11px 15px;
    width: 81%;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
    padding: 9px 7px 11px 19px;
    width: 76%;
  }
}

.contacts-form__item:not(:last-child) {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}
