.functional-eat {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 480px;
  gap: 151px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background-color: $white;
    background-image: none;
    padding: 0 30px;
    min-height: 810px;
    gap: 61px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 1220px;
    margin: auto;
    min-height: 694px;
    padding: 0 110px;
  }
}

.functional-eat__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: $green;
  background-image: url("../img/background-img-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% -1px;
  height: 302px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    align-items: start;
    background-image: none;
    height: 181px;
    width: 520px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 80px;
    align-items: start;
  }
}

.functional-eat__button-wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0 87px;
    z-index: 1;
    text-align: start;
    margin-top: 17px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 80px;
    margin: 52px 0 0 0;
  }
}

.functional-eat__title {
  color: $white;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  width: 249px;

  @media (min-width: $tablet-width) {
    text-align: start;
    color: $black;
    font-size: 60px;
    line-height: 60px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    z-index: 1;
    padding: 0 0 0 87px;
    width: 414px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    color: $black;
    font-size: 60px;
    line-height: 60px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    max-width: 1200px;
    padding: 0;
  }
}

.functional-eat__slogan {
  position: relative;
  color: $white;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 25px 0 0 0;

  &::after {
    content: "";
    top: 41px;
    left: -40px;
    position: absolute;
    background-image: url("../img/can-chikken-mobile.png");
    width: 280px;
    height: 270px;
  }

  @media (min-width: $tablet-width) {
    text-align: start;
    color: $black;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    margin: 41px 0 0 0;
    z-index: 1;
    padding: 0 0 0 86px;

    &::after {
      content: "";
      top: 51px;
      left: 10px;
      position: absolute;
      background-image: url("../img/can-chikken-tablet.png");
      background-repeat: no-repeat;
      width: 709px;
      height: 609px;
      z-index: 0;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    color: $black;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    margin: 40px 0 0 0;
    padding: 0;

    &::after {
      content: "";
      top: -183px;
      left: 367px;
      position: absolute;
      background-image: url("../img/can-chikken-desktop.png");
      background-repeat: no-repeat;
      width: 522px;
      height: 499px;
      z-index: 0;
    }
  }
}

.functional-eat__link {
  text-decoration: none;
  text-align: center;
  color: $white;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  background-color: $green;
  padding: 10px 73px;

  &:hover {
    background-color: $green-hover;
  }

  &:active,
  &:focus {
    background-color: $green-hover;
    color: $white-speshial;
  }

  @media (min-width: $tablet-width) {
    text-align: start;
    color: $white;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    margin: 41px 0 0 0;
    z-index: 1;
    padding: 12px 26px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    color: $white;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    margin: 41px 0 0 0;
  }
}
