.goods__title {
  color: $black-light;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  margin: 13px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.goods p {
  color: $special-grey;
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin: 0 0 15px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: auto 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: auto 0;
    font-size: 16px;
    line-height: 20px;
  }
}

.goods__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    justify-content: space-between;
    width: 63%;
  }
}

.goods__description-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    gap: 49px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    width: 43%;
  }
}

.goods__link {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  background-color: $green;
  padding: 8px 110px;
  margin-bottom: 18px;

  &:hover {
    background-color: $green-hover;
  }

  &:active,
  &:focus {
    background-color: $green-hover;
    color: $white-speshial;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 632px;
    padding: 9px 0;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
    width: 244px;
    padding: 9px 0;
    margin: 0;
  }
}
