.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 27px 0 42px 0;
  padding: 0;
  text-align: left;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 0 30px 24px 30px;
    align-items: start;
    z-index: 1;
    width: 708px;
    margin: 0 auto;
    border-bottom: 1px solid $special-grey-border-nav;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    margin: 28px auto 11px auto;
    width: 1220px;
    z-index: 1;
    border-bottom: none;
  }
}

.how-it-works-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 633px;
    margin: 45px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 1220px;
  }
}

.how-it-works__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 80px;
  margin: 0;
  row-gap: 26px;

  @media (min-width: $tablet-width) {
    counter-reset: section;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    row-gap: 23px;
    width: 633px;
  }

  @media (min-width: $desktop-width) {
    counter-reset: section;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    width: 1220px;
  }
}

.how-it-works__item {
  position: relative;
}

.how-it-works__title {
  color: $black;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  margin: 0 0 40px 0;
  text-align: left;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.how-it-works__title-wrapper {
  width: 280px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 375px;
  }

  @media (min-width: $desktop-width) {
    width: 375px;
  }
}

.how-it-works__text {
  color: $special-grey;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  width: 199px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 144px 0 78px 0;
    width: 246px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 143px 0 78px 0;
  }
}

.how-it-works__text--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.how-it-works__item--leaf {
  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }
}

.how-it-works__item--leaf::before {
  content: "";
  top: -2px;
  left: -80px;
  position: absolute;
  background-image: url("../img/leaf-mobile.svg");
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    top: 32px;
    left: -1px;
    background-image: url("../img/leaf-tablet-desktop.svg");
    width: 80px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    top: 31px;
    left: 0;
    background-image: url("../img/leaf-tablet-desktop.svg");
    width: 80px;
    height: 80px;
  }
}

.how-it-works__item--powder {
  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 246px;
    margin: 0 0 0 18px;
  }
}

.how-it-works__item--powder::before {
  content: "";
  top: -2px;
  left: -80px;
  position: absolute;
  background-image: url("../img/powder-mobile.svg");
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    top: 32px;
    left: 0;
    background-image: url("../img/powder-tablet-desktop.svg");
    width: 80px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    top: 31px;
    left: 1px;
    background-image: url("../img/powder-tablet-desktop.svg");
    width: 80px;
    height: 80px;
  }
}

.how-it-works__item--utensils {
  @media (min-width: $tablet-width) {
    width: 247px;
  }

  @media (min-width: $desktop-width) {
    width: 248px;
    margin: 0 0 0 4px;
  }
}

.how-it-works__item--utensils::before {
  content: "";
  top: -2px;
  left: -80px;
  position: absolute;
  background-image: url("../../img/utensils-mobile.svg");
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    top: 31px;
    left: -1px;
    background-image: url("../img/utensils-tablet-desktop.svg");
    width: 80px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    top: 31px;
    left: 1px;
    background-image: url("../img/utensils-tablet-desktop.svg");
    width: 80px;
    height: 80px;
  }
}

.how-it-works__item--clock {
  @media (min-width: $tablet-width) {
    width: 249px;
  }

  @media (min-width: $desktop-width) {
    width: 250px;
    margin: 0 -3px 0 0;
  }
}

.how-it-works__item--clock::before {
  content: "";
  top: -2px;
  left: -80px;
  position: absolute;
  background-image: url("../img/clock-mobile.svg");
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    top: 31px;
    left: -1px;
    background-image: url("../img/clock-tablet-desktop.svg");
    width: 80px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    top: 31px;
    left: 2px;
    background-image: url("../img/clock-tablet-desktop.svg");
    width: 80px;
    height: 80px;
  }
}

.how-it-works__item--leaf::after {
  @media (min-width: $tablet-width) {
    counter-increment: section;
    content: counters(section, ".") "";
    position: absolute;
    color: $grey;
    font-size: 280px;
    line-height: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    top: -9px;
    right: 1px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    counter-increment: section;
    content: counters(section, ".") "";
    position: absolute;
    color: $grey;
    font-size: 280px;
    line-height: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    top: -9px;
    right: 1px;
    z-index: -1;
  }
}

.how-it-works__item--powder::after {
  @media (min-width: $tablet-width) {
    counter-increment: section;
    content: counters(section, ".") "";
    position: absolute;
    color: $grey;
    font-size: 280px;
    line-height: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    top: -8px;
    right: 4px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    counter-increment: section;
    content: counters(section, ".") "";
    position: absolute;
    color: $grey;
    font-size: 280px;
    line-height: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    top: -9px;
    right: 1px;
    z-index: -1;
  }
}

.how-it-works__item--utensils::after {
  @media (min-width: $tablet-width) {
    counter-increment: section;
    content: counters(section, ".") "";
    position: absolute;
    color: $grey;
    font-size: 280px;
    line-height: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    top: -7px;
    right: 0;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    counter-increment: section;
    content: counters(section, ".") "";
    position: absolute;
    color: $grey;
    font-size: 280px;
    line-height: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    top: -9px;
    right: 1px;
    z-index: -1;
  }
}

.how-it-works__item--clock::after {
  @media (min-width: $tablet-width) {
    counter-increment: section;
    content: counters(section, ".") "";
    position: absolute;
    color: $grey;
    font-size: 280px;
    line-height: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    top: -9px;
    right: 0;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    counter-increment: section;
    content: counters(section, ".") "";
    position: absolute;
    color: $grey;
    font-size: 280px;
    line-height: 280px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    top: -9px;
    right: -1px;
    z-index: -1;
  }
}
