.invitation {
  display: flex;
  flex-direction: row;
  background-color: $white;
  padding: 28px 20px 22px 20px;
}

.invitation--grey {
  background-color: $grey;
}

.invitation-catalog {
  display: flex;
  flex-direction: row;
  padding: 42px 20px 8px 20px;
}


.invitation__title {
  text-align: left;
  color: $black-dark;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 35px 0 0;
}

.invitation__address {
  text-align: left;
  color: $special-grey;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
}
