.invitation {
  display: flex;
  flex-direction: row;
  background-color: $white;
  padding: 0 20px;
  margin: 28px 0 22px 0;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 62px 71px 51px 71px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 110px;
    top: 95px;
    margin: 0 auto;
    min-width: 570px;
    min-height: 201px;
    padding: 0;
  }
}

.invitation--grey {
  background-color: $grey;
}

.invitation__title {
  text-align: left;
  color: $black-dark;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.invitation__address {
  text-align: left;
  color: $special-grey;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
