.living-example {
  display: flex;
  flex-direction: column;
  background-color: $basic-grey;
  padding: 27px 20px 25px 20px;
}

.living-example__title {
  text-align: left;
  color: $black;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  margin: 0 0 23px 0;
}

.living-example__text {
  text-align: left;
  color: $special-grey;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
}

.living-example__list {
  display: grid;
  flex-direction: row;
}

.living-example__heading {
  text-align: center;
  color: $black;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.living-example__description {
  text-align: center;
  color: $special-grey;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

.living-example__cost {
  text-align: center;
  color: $black;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.toggle__text {
  text-align: center;
  color: $black;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
