.page {
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  background-color: $white;

  .transfer-tablet,
  .transfer-desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    .transfer-mobile,
    .transfer-desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    .transfer-mobile,
    .transfer-tablet {
      display: none;
    }
  }
}
