.page-header {
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $black;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 110px;
    width: 1220px;
    margin: 0 auto;
  }
}

.page-header__logo {
  min-height: 66px;
  padding: 0 20px 0 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    min-height: 100px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 178px;
    padding: 0;
  }
}

.page-header__logo .page-header__logo-img {
  padding-top: 12px;
  width: 191px;
  height: 38px;

  &:hover {
    opacity: 0.8;
  }

  &:active:focus {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
    width: 202px;
    height: 59px;
  }
}
