.page-form {
  background-color: $white;
}

.page-form__title {
  text-align: start;
  color: $black;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  padding: 0 20px;
  margin: 27px auto 37px auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 auto;
    width: 709px;
    padding: 0 0 0 59px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 13px auto 56px auto;
    width: 1220px;
    padding: 0 110px;
  }
}
