.page-form {
  background-color: $white;
}

.page-form__title {
  text-align: center;
  color: $black;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}
