.page-catalog {
  background-color: $white;
}


.page-catalog__title {
  color: $black;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  padding: 27px 42px 41px 20px;
  margin: 0;
}
