.page-catalog {
  background-color: $white;
}

.page-catalog__title {
  color: $black;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-align: start;
  margin: 27px 0 41px 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    width: 1220px;
    margin: 10px auto 84px auto;
  }
}
