.page-header {
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $black;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    max-width: 1220px;
    margin: auto;
  }
}

.page-header__logo {
  min-height: 66px;
  padding: 0 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    min-height: 100px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 178px;
    padding: 0;
  }
}

.page-header__logo img {
  width: 190px;
  height: 38px;
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}
