.programm-eat {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: $white;
  margin: 22px auto 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    margin: auto;
  }
}

.programm-eat__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    gap: 30px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    gap: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.programm-eat__item {
  position: relative;
  background-color: $grey;
  color: $black;
  text-align: left;
  padding: 0 20px 17px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 0 57px 0;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 518px;
    padding: 41px 0 59px 52px;
  }
}

.programm-eat__item--img-sfinks::before {
  content: "";
  top: 21px;
  left: 22px;
  position: absolute;
  background-image: url("../img/cat-sfinx-mobile.svg");
  width: 50px;
  height: 53px;

  @media (min-width: $tablet-width) {
    top: 81px;
    left: 446px;
    background-image: url("../img/cat-sfinx-tablet.svg");
    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop-width) {
    top: 41px;
    left: 52px;
    background-image: url("../img/cat-sfinx-desktop.svg");
    width: 100px;
    height: 106px;
  }
}

.programm-eat__item--img-tiger::before {
  content: "";
  top: 24px;
  left: 13px;
  position: absolute;
  background-image: url("../img/tiger-mobile.svg");
  width: 67px;
  height: 50px;

  @media (min-width: $tablet-width) {
    top: 91px;
    left: 412px;
    background-image: url("../img/tiger-tablet.svg");
    width: 268px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    top: 47px;
    left: 33px;
    background-image: url("../../img/tiger-desktop.svg");
    width: 134px;
    height: 100px;
  }
}

.programm-eat__title {
  color: $black;
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 0 0 71px;

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-left: 53px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    margin: 36px 0 0 -30px;
  }
}

.programm-eat__text {
  color: $special-grey;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin: 29px 0 23px 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 24px 0 48px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 73px 0 27px 0;
  }
}

.programm-eat__text--border {
  border-bottom: 1px solid $grey-border-bottom;
  margin: 15px 0 15px 0;
  min-height: 113px;
  width: 240px;
  padding: 14px 0 0 0;

  @media (min-width: $tablet-width) {
    border: none;
    width: 377px;
    padding: 10px 0 0 52px;
    margin: 15px 0 34px 0;
  }

  @media (min-width: $desktop-width) {
    border: none;
    width: 467px;
    padding: 0;
    margin: 74px 0 -16px 0;
  }
}

@media (min-width: $tablet-width) {
  .programm-eat__text--tiger {
    width: 340px;
  }
}

@media (min-width: $desktop-width) {
  .programm-eat__text--tiger {
    width: 445px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .programm-eat__title--tiger {
    margin: 36px 0 0 11px;
  }
}

.programm-eat__link {
  text-decoration: none;
  position: relative;
  text-align: left;
  color: $black;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border: none;

  &:active:focus {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 20px;
    line-height: 30px;
    padding-left: 52px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    font-size: 20px;
    line-height: 30px;
    height: 12px;
    padding: 0;
    width: 109px;
  }
}

.programm-eat__link--slim {
  &::after {
    content: "";
    top: 5px;
    left: 101px;
    position: absolute;
    background-image: url("../img/arrow-mobile.svg");
    width: 24px;
    height: 12px;
  }

  &:hover {
    &::after {
      content: "";
      top: 5px;
      left: 101px;
      position: absolute;
      background-image: url("../img/arrow-hover.svg");
      width: 32px;
      height: 12px;
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      top: 9px;
      left: 185px;
    }

    &:hover {
      &::after {
        content: "";
        top: 9px;
        left: 185px;
        position: absolute;
        background-image: url("../img/arrow-hover.svg");
        width: 32px;
        height: 12px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      top: 10px;
      left: 136px;
    }

    &:hover {
      &::after {
        content: "";
        top: 10px;
        left: 136px;
        position: absolute;
        background-image: url("../img/arrow-hover.svg");
        width: 32px;
        height: 12px;
      }
    }
  }
}

.programm-eat__link--pro {
  &::after {
    content: "";
    top: 5px;
    left: 99px;
    position: absolute;
    background-image: url("../img/arrow-mobile.svg");
    width: 24px;
    height: 12px;
  }

  &:hover {
    &::after {
      content: "";
      top: 3px;
      left: 106px;
      position: absolute;
      background-image: url("../img/arrow-hover.svg");
      width: 32px;
      height: 12px;
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      top: 9px;
      left: 181px;
    }

    &:hover {
      &::after {
        content: "";
        top: 9px;
        left: 181px;
        position: absolute;
        background-image: url("../img/arrow-hover.svg");
        width: 32px;
        height: 12px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      top: 10px;
      left: 131px;
    }

    &:hover {
      &::after {
        content: "";
        top: 10px;
        left: 131px;
        position: absolute;
        background-image: url("../img/arrow-hover.svg");
        width: 32px;
        height: 12px;
      }
    }
  }
}
