.range-filter {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    gap: 24px;
    background-color: $basic-grey-special;
  }
}

.range-filter__text {
  text-align: center;
  color: $black;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }
}
