.social__item {
  margin: 0 38px 0 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.social__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-right: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 27px;
  }
}

.social__link--vkontakte .social__link-icon {
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 30px;
    height: 22px;
  }
}

.social__link--instagram .social__link-icon {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }

  @media (min-width: $desktop-width) {
    width: 23px;
    height: 23px;
  }
}

.social__link--facebook .social__link-icon {
  width: 12px;
  height: 22px;
  stroke: $grey-icon;
  fill: none;

  &:hover {
    stroke: $green;
  }

  &:active:focus {
    stroke: $green;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 18px;
    height: 28px;
  }
}

.social__link {
  fill: $grey-icon;

  &:hover {
    fill: $green;
  }

  &:active:focus {
    fill: $green;
    opacity: 0.3;
  }
}
