$black: #000000;
$black-light: #222222;
$white: #ffffff;
$green: #68b738;
$green-light: rgba(104, 183, 56, 0.85);
$grey: #f2f2f2;
$basic-grey: #eaeaea;
$special-grey: #444444;
$special-grey-border-nav: #e6e6e6;
$grey-border-bottom: #d9d9d9;
$grey-catalog-border: #ebebeb;
$black-dark: #111111;
$grey-border-light: #e7e7e7;
$color-body: #e5e5e5;
$grey-border: #cdcdcd;
$grey-special: #c4c4c4;
