$black: #000000;
$black-light: #222222;
$white: #ffffff;
$white-speshial: rgba(255, 255, 255, 0.3);
$green: #68b738;
$green-hover: #5eaa2f;
$green-light: rgba(104, 183, 56, 0.85);
$grey: #f2f2f2;
$basic-grey: #eaeaea;
$basic-grey-special: rgba(234, 234, 234, 0);
$special-grey: #444444;
$special-grey-border-nav: #e6e6e6;
$grey-border-bottom: #d9d9d9;
$grey-catalog-border: #ebebeb;
$grey-catalog-border-speshial: rgba(68, 68, 68, 0.3);
$black-dark: #111111;
$grey-border-light: #e7e7e7;
$color-body: #e5e5e5;
$grey-border: #cdcdcd;
$grey-special: #c4c4c4;
$grey-scale: #bababa;
$grey-icon: #666666;
$pink-invalid: #ff8282;
